*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background: #f9f5ea;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: 0px 30px;
}
.logo{
    width: 250px;
    height: 65px;
    padding: 10px 10px 0px;
}
img{
    
    width: 100%;
    height: 90%;
}
.menu a{
    text-decoration: none;
    
    font-size: 15px;
    font-family: system-ui;
    color: black;
    letter-spacing: 0.5px;
    margin:20px;
}
.b {
    width: 100%;
    background-color: #03334e;
}
.back{
    
    background: #4d4090 url(http://ayushmanup.in/assets/images/city_background.png) no-repeat top right;
    width: 100%;
    height: 50px;
    padding: 0 60px;
}
.back marquee{
    color: white;
    font-size: 25px;
    padding-top: 20px;
}